
body{
	background-image: url("img/Fondo.JPG");
	background-size: cover;

}

.error{
	color:red;
	font-family: helvetica;
	font-size: smaller;
}

#hoja_formulario{
	color: aliceblue;
	text-align: center;
}

#titulofelyne{
    color: white;
    font-size: 30px;    

}

#Titulo{
    color: white;
    font-size: 30px;
    
}

#parrafo1{
    color: white;
}

#Foto{
	text-align: center; 
}