
body{
	background-image: url("img/Fondo.JPG");
	background-size: cover;

}

.error{
	color:red;
	font-family: helvetica;
	font-size: smaller;
}

#hoja_formulario{
	text-align: center;
	color: aliceblue;
	max-width: 500px;	
}
