
body{
	background-image: url("img/Fondo.JPG");
	background-size: cover;

}

.error{
	color:red;
	font-family: helvetica;
	font-size: smaller;
}

#hoja_formulario{
	color: aliceblue;
	text-align: center;
}

#articuloCaza{
    color: white;
}

#Foto{
	text-align: center;
}