<!DOCTYPE html>
<html lang="es">

<head>
  <title>Cazadores</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'AppMH/hojaestilocazadores.css' %}">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img class="" style="width: 40px" alt=""
        src="{% static 'AppMH/img/icon.png' %}">Turismo del Gremio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'postular' %}">[Postula ya!] <span class="sr-only"></span></a>
        </li>
      </ul>
    </div>
  </nav>
  <div>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <p id="articuloCaza">
      ¿Te has preguntado de dónde sale la carne que comes?¿O de dónde salen los abrigos de cuero
      que vistes? Lo más probable es que las consigas de un vendedor en el distrito comercial, pero
      los vendedores no serían nada sin los Cazadores, quienes los suministran de materias primas.
      Los Cazadores mantienen a raya a los monstruos peligrosos que rondan cerca de la civilización, o
      aquellos que amenazan el balance del ecosistema. <br>
      Blanden armas para llevar a cabo la tarea, y suelen ser contratados por el Gremio de cazadores para
      realizar las peticiones de los habitantes en forma de misiones. <br>
      El Gremio pone disposición de los usuarios a un grupo de Cazadores para garantizar la seguridad en
      caso de la aparición de un monstruo grande en la zona del recorrido turístico.
    </p>
    <p id="Foto">
      <img src="{% static 'AppMH/img/3b.png' %}" alt="Cazador">
    </p>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{% static 'AppMH/img/1b.png' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Los Felyne</h5>
            <p class="card-text">Son los miembros más comunes de una raza diminuta conocida como los Lynianos que
              también incluye a los Shakalaka</p>
            <a href="{% url 'felyne' %}" class="btn btn-primary"><img class="" style="width: 30px" alt=""
                src="{% static 'AppMH/img/steam.png' %}"> Ver más</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{% static 'AppMH/img/2b.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Gremio</h5>
            <p class="card-text">El gremio se encargará de todas actividades en la zona seleccionada.</p>
            <a href="{% url 'gremio' %}" class="btn btn-primary"><img class="" style="width: 30px" alt=""
                src="{% static 'AppMH/img/steam.png' %}"> Ver más</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{% static 'AppMH/img/logo.png' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Zonas disponibles</h5>
            <p class="card-text">Ecosistemas increibles, disponibles para su exploración</p>
            <a href="{% url 'index' %}" class="btn btn-primary"><img class="" style="width: 30px" alt=""
                src="{% static 'AppMH/img/steam.png' %}"> Ver más</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>