<!DOCTYPE html>
<html lang="es">

<head>
  <title>Felyne </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=divice-width, initial-sacle=1, maximum-scale=1, minimum-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'AppMH/hojaestilofelyne.css' %}">

</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img class="" style="width: 40px" alt="" src="{% static 'AppMH/img/icon.png' %}">Turismo del Gremio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'postular' %}">[Postula ya!] <span class="sr-only"></span></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="bd-example">
    <p id="titulofelyme">
      &nbsp;&nbsp; Felynes
    </p>
  </div>
  <p id="Titulo">
    <br>
    Felyne
  </p>
  <p id="fluid-prueba">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="container-fluid">
            <p id="parrafo1">
              <br>
              Forman aldeas junto a los Melynx en cualquier lugar, suelen aparecer en diferentes zonas buscando
              materiales valiosos. Son dóciles y no atacarán a no ser que se les provoque, o si aparece un monstruo
              grande en la misma área, en ese caso atacarán con sus picos o lanzando bombas.

              Algunos Felynes se han adentrado en la sociedad humana y habitan en aldeas o ciudades, ya que son capaces
              de realizar acciones típicamente humanas,
              <br>
              con lo cual suelen ejercer de ayudantes para los humanos, cocineros, vendedores, guías, etc.
            </p>
          </div>
          <div class="col">
            <p id="Foto">
              <img src="{% static 'AppMH/img/1b.png' %}" alt="Felyne">
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="container-fluid">
      <div class="row">
        
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'AppMH/img/logo.png' %}" alt="Logo">
            <div class="card-body">
              <h5 class="card-title">Zonas disponibles</h5>
              <p class="card-text">Ecosistemas increibles, disponibles para su exploración</p>
              <a href="{% url 'index' %}" class="btn btn-primary"><img class="" style="width: 30px" alt="Boton"
                  src="{% static 'AppMH/img/steam.png' %}"> Ver más</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'AppMH/img/2b.jpg' %}" alt="Gremio">
            <div class="card-body">
              <h5 class="card-title">Gremio</h5>
              <p class="card-text">El gremio se encargará de todas actividades en la zona seleccionada.</p>
              <a href="{% url 'gremio' %}" class="btn btn-primary"><img class="" style="width: 30px" alt="Boton"
                  src="{% static 'AppMH/img/steam.png' %}"> Ver más</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'AppMH/img/3b.png' %}" alt="Cazadores">
            <div class="card-body">
              <h5 class="card-title">Cazadores</h5>
              <p class="card-text">Los cazadores se encargan de que todos estén a salvo durante las expediciones.</p>
              <a href="{% url 'cazadores' %}" class="btn btn-primary"><img class="" style="width: 30px" alt="Boton"
                  src="{% static 'AppMH/img/steam.png' %}"> Ver más</a>
            </div>
          </div>
        </div>

      </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</body>

</html>