<html>

<head>
  <title>Turismo del Gremio </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=divice-width, initial-sacle=1, maximum-scale=1, minimum-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'AppMH/Hoja_estilo.css' %}">


</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img class="" style="width: 40px" alt="" src="{% static 'AppMH/img/icon.png' %}">Turismo del Gremio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'postular' %}">[Postula ya!] <span class="sr-only"></span></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="bd-example">
    <div id="carouselHunter" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselHunter" data-slide-to="0" class="active"></li>
        <li data-target="#carouselHunter" data-slide-to="1"></li>
        <li data-target="#carouselHunter" data-slide-to="2"></li>
        <li data-target="#carouselHunter" data-slide-to="3"></li>
        <li data-target="#carouselHunter" data-slide-to="4"></li>
        <li data-target="#carouselHunter" data-slide-to="5"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'AppMH/img/1.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <p><a href="#" class="text-light bg-dark">
                <h5>Isla desierta</h5>Un paisaje desolado con una belleza natural única
              </a></p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'AppMH/img/2.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <p><a href="#" class="text-light bg-dark">
                <h5>Llanos arenosos</h5>Un árido destino para los más aventurados
              </a></p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'AppMH/img/3.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <p><a href="#" class="text-light bg-dark">
                <h5>Bosque inundado</h5>El mayor humedal del sector, y una parte importante de la fauna acuática
              </a></p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'AppMH/img/4.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <p><a href="#" class="text-light bg-dark">
                <h5>Tundra</h5>No te dejes distraer por la bella vista nevada, lleva tus bebidas calientes!
              </a></p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'AppMH/img/5.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <p><a href="#" class="text-light bg-dark">
                <h5>Volcán</h5>El destino más sofocante, sólo para los más apasionados
              </a></p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'AppMH/img/6.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <p><a href="#" class="text-light bg-dark">
                <h5>Gran desierto</h5>Toma un paseo por el mar de arena con el surcadunas
              </a></p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselHunter" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselHunter" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <br />
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{% static 'AppMH/img/1b.png' %}" s alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Los Felyne</h5>
            <p class="card-text">Son los miembros más comunes de una raza diminuta conocida como los Lynianos que
              también incluye a los Shakalaka</p>
            <a href="{% url 'felyne' %}" class="btn btn-primary"><img class="" style="width: 30px" alt="" src="{% static 'AppMH/img/steam.png' %}">
              Ver más</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{% static 'AppMH/img/2b.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Gremio</h5>
            <p class="card-text">El gremio se encargará de todas actividades en la zona seleccionada.</p>
            <a href="{% url 'gremio' %}" class="btn btn-primary"><img class="" style="width: 30px" alt="" src="{% static 'AppMH/img/steam.png' %}">
              Ver más</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{% static 'AppMH/img/3b.png' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Cazadores</h5>
            <p class="card-text">Los cazadores se encargan de que todos estén a salvo durante las expediciones.</p>
            <a href="{% url 'cazadores' %}" class="btn btn-primary"><img class="" style="width: 30px" alt=""
                src="{% static 'AppMH/img/steam.png' %}"> Ver más</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script>
    $('.carousel').carousel()

  </script>
</body>
<footer>

</footer>