<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Listar</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
<body>
    <p>
        <center>
            <table class="table table-striped table-bordered" style="max-width: 1000px;">
                <thead class="thead-dark">
                    <tr>
                    <th>Nombre</th>
                    <th>RUT</th>
                    <th>Fecha de nacimiento</th>
                    <th>Telefono</th>
                    <th>E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    {% for postulante in postulantes %}
                    <tr>
                    <td>{{ postulante.nombre_completo }}</td>
                    <td>{{ postulante.rut }}</td>
                    <td>{{ postulante.fecha_nac }}</td>
                    <td>{{ postulante.telefono }}</td>
                    <td>{{ postulante.email }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>    
            <a class="btn btn-primary" href="{% url 'crud' %}" role="button">Volver</a>
        </center>
    </p>
    
    



    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
    crossorigin="anonymous"></script>
</body>

</html>