<!DOCTYPE html>
<html lang="es">
    <head>
        <title>CRUD</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Sistema CRUD</h1>
            <p class="lead">Bienvenido administrador(a), en esta sección encontrará cuatro botones para las operaciones
                de Crear, Listar, Editar y Eliminar postulantes del programa de turismo del Gremio.
            </p>
        </div>
    </div>
    <br><br>
    <center>
        <div>
            <a class="btn btn-success" href="{% url 'crear' %}" role="button">Crear Postulante</a>
            <a class="btn btn-secondary" href="{% url 'listar' %}" role="button">Listado Postulantes</a>
            <a class="btn btn-primary" href="{% url 'editar' %}" role="button">Editar Postulante</a>
            <a class="btn btn-danger" href="{% url 'eliminar' %}" role="button">Eliminar Postulante</a>
        </div>
    </center>
   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
    crossorigin="anonymous"></script>
</body>

</html>